<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   <!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>    -->
   <bean id="userService" class="com.purang.transaction.project.UserServiceImpl">    
      <property name="userDao" ref="userDao"/>  
      <property name="txManager" ref="txManager"/>  
      <property name="addressService" ref="addressService"/>  
	</bean>  
	
   <bean id="addressService" class="com.purang.transaction.project.AddressServiceImpl">
        <property name="addressDao" ref="addressDao"/>
        <property name="txManager" ref="txManager"/>
   </bean> 
   <!-- 配置式 事务管理 -->
      <bean id="targetUserService" class="com.purang.transaction.project.ConfigUserServiceImpl">  
    <property name="userDao" ref="userDao"/>  
    <property name="addressService" ref="targetAddressService"/>  
	</bean>  
	<bean id="targetAddressService" class="com.purang.transaction.project.ConfigAddressServiceImpl">  
	    <property name="addressDao" ref="addressDao"/>  
	</bean>  
	
<bean id="transactionProxyParent" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"  abstract="true">  
    <property name="transactionManager" ref="txManager"/>  
    <property name="transactionAttributes">  
    <props>  
            <prop key="save*">  
                      PROPAGATION_REQUIRED,  
                      ISOLATION_READ_COMMITTED,  
                      timeout_10,  
                      -Exception,  
                      +NoRollBackException  
           </prop>  
           <prop key="*">  
                      PROPAGATION_REQUIRED,  
                      ISOLATION_READ_COMMITTED,  
                      readOnly  
           </prop>  
        </props>  
</property>  
</bean>  
<bean id="proxyUserService" parent="transactionProxyParent">  
    <property name="target" ref="targetUserService"/>  
</bean>  
<bean id="proxyAddressService" parent="transactionProxyParent">  
    <property name="target" ref="targetAddressService"/>  
</bean>  

</beans>